<h1>ツイート一覧</h1>
<% @tweets.each do |e| %>
    <%= e.message %>
    <%=link_to '[削除]', tweet_path(e), data: { turbo_method: :delete } %>
    <% if session[:login_uid] %>
        <% if e.liked?(current_user) %>
            <%= link_to '[いいね削除]', like_path(e), data: { turbo_method: :delete } %>
        <% else %>
            <%= link_to '[いいね]', likes_path(tweet_id: e.id), data: { turbo_method: :post } %>
        <% end %>
    <% end %>
    <br>
<% end %>

<hr>

<% if session[:login_uid] %>
    <%= form_for @tweet, url: {action: :create} do |f| %>
        <%= f.label :message, 'メッセージ' %>
        <%= f.text_field :message %>
        <%= f.submit 'ツイート' %>
    <% end %>
    <%= link_to "[ログアウト]", top_logout_path %>
<% else %>
    <%= link_to "[ログイン]", top_main_path %>
<% end %>
<%= link_to '[ユーザー一覧]',users_path %>